body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-right {
    float: right;
    margin: 7px;
}

.google-logo {
    text-align: center; 
    left: 50%; 
    top: 30%; 
    position: absolute; 
    margin-top: -50px;
    margin-left: -100px;
}

.google-search {
    text-align: center;
    position: absolute;
    left: 43%;
    top: 41%;
    margin-top: -38px;
    margin-left: -100px;
    
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.search-box {
    background-color: #ffffff;
    color: gray;
    border-radius: 40px;
    width: 500px;
    border: 0.5px solid gray;
    padding: 10px;
    outline: none;
}

.btn {
    background-color: #f2f2f3;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    text-align: center;
}